interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.42.0 azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.8.10 (Linux-5.15.0-1023-azure-x86_64-with-glibc2.29)
=======
      - AZURECLI/2.42.0 (DOCKER) azsdk-python-azure-mgmt-resource/21.1.0b1 Python/3.10.8
        (Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with)
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001?api-version=2022-09-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-11-24T11:31:25Z"},"properties":{"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001","name":"clitest000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","date":"2022-11-04T20:53:21Z"},"properties":{"provisioningState":"Succeeded"}}'
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Thu, 24 Nov 2022 11:31:25 GMT
=======
      - Fri, 04 Nov 2022 20:53:21 GMT
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "identity": {"type": "SystemAssigned"}, "properties":
<<<<<<< HEAD
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestt2kyejhag-79a739",
=======
      {"kubernetesVersion": "", "dnsPrefix": "cliakstest-clitestwbe37ay4b-8ecadf",
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
      "agentPoolProfiles": [{"count": 1, "vmSize": "Standard_DS2_v2", "osDiskSizeGB":
      0, "workloadRuntime": "OCIContainer", "osType": "Linux", "enableAutoScaling":
      false, "type": "VirtualMachineScaleSets", "mode": "System", "orchestratorVersion":
      "", "upgradeSettings": {}, "enableNodePublicIP": false, "enableCustomCATrust":
      false, "scaleSetPriority": "Regular", "scaleSetEvictionPolicy": "Delete", "spotMaxPrice":
      -1.0, "nodeTaints": [], "enableEncryptionAtHost": false, "enableUltraSSD": false,
<<<<<<< HEAD
      "enableFIPS": false, "networkProfile": {}, "name": "c000003"}], "linuxProfile":
      {"adminUsername": "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgwJ1YLtrtaF7seObyf1xaMbixzWbi2HkGaOQ4C7BPyeho2pMacCkJ0qYZa0V+Muv+22BUMr0QNBnzuEYku5uM5AZW2j4fu/cRMp+1HtZHtbGRcHD2a4iMRMfUDXUCefmVhL9WzN3JUzc5sTu2HLEaAtEKAMbT/hOL75vaYug7WFsE7U7eia+E1LFMxXa+z5aKDPLYok4JduYqdALRqElogv8QekQLwjw1kt7IZY9z4krjo4FXPHd5RDIalO0mH4eNYhxbxW6r6M/OQsqxqUAOauFzF9QgU/gFMcIZC4eU2ZbQZMbMH/l+CMAwNK8ccxOEFLSmkZiPVvQ3l1ANjJeN
      azcli_aks_live_test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true,
      "enablePodSecurityPolicy": false, "networkProfile": {"networkPlugin": "kubenet",
      "podCidr": "10.244.0.0/16", "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10",
      "dockerBridgeCidr": "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku":
      "standard"}, "disableLocalAccounts": false, "storageProfile": {}}}'
=======
      "enableFIPS": false, "name": "c000003"}], "linuxProfile": {"adminUsername":
      "azureuser", "ssh": {"publicKeys": [{"keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCbIg1guRHbI0lV11wWDt1r2cUdcNd27CJsg+SfgC7miZeubtwUhbsPdhMQsfDyhOWHq1+ZL0M+nJZV63d/1dhmhtgyOqejUwrPlzKhydsbrsdUor+JmNJDdW01v7BXHyuymT8G4s09jCasNOwiufbP/qp72ruu0bIA1nySsvlf9pCQAuFkAnVnf/rFhUlOkhtRpwcq8SUNY2zRHR/EKb/4NWY1JzR4sa3q2fWIJdrrX0DvLoa5g9bIEd4Df79ba7v+yiUBOS0zT2ll+z4g9izHK3EO5d8hL4jYxcjKs+wcslSYRWrascfscLgMlMGh0CdKeNTDjHpGPncaf3Z+FwwwjWeuiNBxv7bJo13/8B/098KlVDl4GZqsoBCEjPyJfV6hO0y/LkRGkk7oHWKgeWAfKtfLItRp00eZ4fcJNK9kCaSMmEugoZWcI7NGbZXzqFWqbpRI7NcDP9+WIQ+i9U5vqWsqd/zng4kbuAJ6UuKqIzB0upYrLShfQE3SAck8oaLhJqqq56VfDuASNpJKidV+zq27HfSBmbXnkR/5AK337dc3MXKJypoK/QPMLKUAP5XLPbs+NddJQV7EZXd29DLgp+fRIg3edpKdO7ZErWhv7d+3Kws+e1Y+ypmR2WIVSwVyBEUfgv2C8Ts9gnTF4pNcEY/S2aBicz5Ew2+jdyGNQQ==
      test@example.com\n"}]}}, "addonProfiles": {}, "enableRBAC": true, "enablePodSecurityPolicy":
      false, "networkProfile": {"networkPlugin": "kubenet", "podCidr": "10.244.0.0/16",
      "serviceCidr": "10.0.0.0/16", "dnsServiceIP": "10.0.0.10", "dockerBridgeCidr":
      "172.17.0.1/16", "outboundType": "loadBalancer", "loadBalancerSku": "standard"},
      "disableLocalAccounts": false, "storageProfile": {}}}'
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    headers:
<<<<<<< HEAD
      - '1578'
=======
      - '1885'
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
      Content-Type:
      - application/json
      ParameterSetName:
      - --resource-group --name --nodepool-name --vm-set-type --node-count --ssh-key-value
        -o
      User-Agent:
<<<<<<< HEAD
      - AZURECLI/2.42.0 azsdk-python-azure-mgmt-containerservice/20.7.0b Python/3.8.10
        (Linux-5.15.0-1023-azure-x86_64-with-glibc2.29)
=======
      - AZURECLI/2.42.0 (DOCKER) azsdk-python-azure-mgmt-containerservice/20.4.0b
        Python/3.10.8 (Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with)
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002?api-version=2023-04-02-preview
  response:
    body:
<<<<<<< HEAD
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\",\n
        \ \"location\": \"westus2\",\n  \"name\": \"cliakstest000002\",\n  \"type\":
        \"Microsoft.ContainerService/ManagedClusters\",\n  \"properties\": {\n   \"provisioningState\":
        \"Creating\",\n   \"powerState\": {\n    \"code\": \"Running\"\n   },\n   \"kubernetesVersion\":
        \"1.23.12\",\n   \"currentKubernetesVersion\": \"1.23.12\",\n   \"dnsPrefix\":
        \"cliakstest-clitestt2kyejhag-79a739\",\n   \"fqdn\": \"cliakstest-clitestt2kyejhag-79a739-796abfcb.hcp.westus2.azmk8s.io\",\n
        \  \"azurePortalFQDN\": \"cliakstest-clitestt2kyejhag-79a739-796abfcb.portal.hcp.westus2.azmk8s.io\",\n
        \  \"agentPoolProfiles\": [\n    {\n     \"name\": \"c000003\",\n     \"count\":
        1,\n     \"vmSize\": \"Standard_DS2_v2\",\n     \"osDiskSizeGB\": 128,\n     \"osDiskType\":
        \"Managed\",\n     \"kubeletDiskType\": \"OS\",\n     \"workloadRuntime\":
        \"OCIContainer\",\n     \"maxPods\": 110,\n     \"type\": \"VirtualMachineScaleSets\",\n
        \    \"enableAutoScaling\": false,\n     \"provisioningState\": \"Creating\",\n
        \    \"powerState\": {\n      \"code\": \"Running\"\n     },\n     \"orchestratorVersion\":
        \"1.23.12\",\n     \"currentOrchestratorVersion\": \"1.23.12\",\n     \"enableNodePublicIP\":
        false,\n     \"enableCustomCATrust\": false,\n     \"mode\": \"System\",\n
        \    \"enableEncryptionAtHost\": false,\n     \"enableUltraSSD\": false,\n
        \    \"osType\": \"Linux\",\n     \"osSKU\": \"Ubuntu\",\n     \"nodeImageVersion\":
        \"AKSUbuntu-1804gen2containerd-2022.10.24\",\n     \"upgradeSettings\": {},\n
        \    \"enableFIPS\": false,\n     \"networkProfile\": {}\n    }\n   ],\n   \"linuxProfile\":
        {\n    \"adminUsername\": \"azureuser\",\n    \"ssh\": {\n     \"publicKeys\":
        [\n      {\n       \"keyData\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDgwJ1YLtrtaF7seObyf1xaMbixzWbi2HkGaOQ4C7BPyeho2pMacCkJ0qYZa0V+Muv+22BUMr0QNBnzuEYku5uM5AZW2j4fu/cRMp+1HtZHtbGRcHD2a4iMRMfUDXUCefmVhL9WzN3JUzc5sTu2HLEaAtEKAMbT/hOL75vaYug7WFsE7U7eia+E1LFMxXa+z5aKDPLYok4JduYqdALRqElogv8QekQLwjw1kt7IZY9z4krjo4FXPHd5RDIalO0mH4eNYhxbxW6r6M/OQsqxqUAOauFzF9QgU/gFMcIZC4eU2ZbQZMbMH/l+CMAwNK8ccxOEFLSmkZiPVvQ3l1ANjJeN
        azcli_aks_live_test@example.com\\n\"\n      }\n     ]\n    }\n   },\n   \"servicePrincipalProfile\":
        {\n    \"clientId\":\"00000000-0000-0000-0000-000000000001\"\n   },\n   \"nodeResourceGroup\":
        \"MC_clitest000001_cliakstest000002_westus2\",\n   \"enableRBAC\": true,\n
        \  \"enablePodSecurityPolicy\": false,\n   \"networkProfile\": {\n    \"networkPlugin\":
        \"kubenet\",\n    \"loadBalancerSku\": \"standard\",\n    \"loadBalancerProfile\":
        {\n     \"managedOutboundIPs\": {\n      \"count\": 1\n     },\n     \"backendPoolType\":
        \"nodeIPConfiguration\"\n    },\n    \"podCidr\": \"10.244.0.0/16\",\n    \"serviceCidr\":
        \"10.0.0.0/16\",\n    \"dnsServiceIP\": \"10.0.0.10\",\n    \"dockerBridgeCidr\":
        \"172.17.0.1/16\",\n    \"outboundType\": \"loadBalancer\",\n    \"podCidrs\":
        [\n     \"10.244.0.0/16\"\n    ],\n    \"serviceCidrs\": [\n     \"10.0.0.0/16\"\n
        \   ],\n    \"ipFamilies\": [\n     \"IPv4\"\n    ]\n   },\n   \"maxAgentPools\":
        100,\n   \"disableLocalAccounts\": false,\n   \"securityProfile\": {},\n   \"storageProfile\":
        {\n    \"diskCSIDriver\": {\n     \"enabled\": true,\n     \"version\": \"v1\"\n
        \   },\n    \"fileCSIDriver\": {\n     \"enabled\": true\n    },\n    \"snapshotController\":
        {\n     \"enabled\": true\n    }\n   },\n   \"oidcIssuerProfile\": {\n    \"enabled\":
        false\n   },\n   \"workloadAutoScalerProfile\": {}\n  },\n  \"identity\":
        {\n   \"type\": \"SystemAssigned\",\n   \"principalId\":\"00000000-0000-0000-0000-000000000001\",\n
        \  \"tenantId\": \"72f988bf-86f1-41af-91ab-2d7cd011db47\"\n  },\n  \"sku\":
        {\n   \"name\": \"Basic\",\n   \"tier\": \"Free\"\n  }\n }"
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b340f325-11b2-413e-9c54-b190b1c75ce1?api-version=2016-03-30
      content-type:
      - application/json
=======
      string: "{\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest000001/providers/Microsoft.ContainerService/managedClusters/cliakstest000002\"\
        ,\n  \"location\": \"westus2\",\n  \"name\": \"cliakste[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.42.0 azsdk-python-azure-mgmt-containerservice/20.7.0b Python/3.8.10
        (Linux-5.15.0-1023-azure-x86_64-with-glibc2.29)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b340f325-11b2-413e-9c54-b190b1c75ce1?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"25f340b3-b211-3e41-9c54-b190b1c75ce1\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-24T11:31:29.7232766Z\"\n }"
=======
      - AZURECLI/2.42.0 (DOCKER) azsdk-python-azure-mgmt-containerservice/20.4.0b
        Python/3.10.8 (Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/914fc4e3-c37c-45df-9d42-2d447d94adeb?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"e3c44f91-7cc3-df45-9d42-2d447d94adeb\",\n  \"status\"\
        : \"InProgress\",\n  \"startTime\": \"2022-11-04T20:53:29.8397305Z\"\n }"
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    headers:
      content-type:
      - application/json
<<<<<<< HEAD
      - Thu, 24 Nov 2022 11:31:59 GMT
=======
      - Fri, 04 Nov 2022 20:53:59 GMT
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - nginx
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b340f325-11b2-413e-9c54-b190b1c75ce1?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"25f340b3-b211-3e41-9c54-b190b1c75ce1\",\n  \"status\":
        \"InProgress\",\n  \"startTime\": \"2022-11-24T11:31:29.7232766Z\",\n  \"error\":
        {\n   \"code\": \"ReconcilePortalDNSError\",\n   \"message\": \"AKS encountered
        an internal error while attempting the requested Creating operation. AKS will
        continuously retry the requested operation until successful or a retry timeout
        is hit. Check back to see if the operation requires resubmission. Correlation
        ID: 2fe0ae77-cde5-41eb-b60e-aa6a5dc40c11, Operation ID: b340f325-11b2-413e-9c54-b190b1c75ce1,
        Timestamp: 2022-11-24T11:48:53Z.\"\n  }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/b340f325-11b2-413e-9c54-b190b1c75ce1?api-version=2016-03-30
  response:
    body:
      string: "{\n  \"name\": \"25f340b3-b211-3e41-9c54-b190b1c75ce1\",\n  \"status\":
        \"Succeeded\",\n  \"startTime\": \"2022-11-24T11:31:29.7232766Z\",\n  \"endTime\":
        \"2022-11-24T11:53:53.0574639Z\",\n  \"error\": {\n   \"code\": \"ReconcilePortalDNSError\",\n
        \  \"message\": \"AKS encountered an internal error while attempting the requested
        Creating operation. AKS will continuously retry the requested operation until
        successful or a retry timeout is hit. Check back to see if the operation requires
        resubmission. Correlation ID: 2fe0ae77-cde5-41eb-b60e-aa6a5dc40c11, Operation
        ID: b340f325-11b2-413e-9c54-b190b1c75ce1, Timestamp: 2022-11-24T11:48:53Z.\"\n
        \ }\n }"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.42.0 azsdk-python-azure-mgmt-containerservice/20.7.0b Python/3.8.10
        (Linux-5.15.0-1023-azure-x86_64-with-glibc2.29)
=======
      - AZURECLI/2.42.0 (DOCKER) azsdk-python-azure-mgmt-containerservice/20.4.0b
        Python/3.10.8 (Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with)
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.42.0 azsdk-python-azure-mgmt-containerservice/20.7.0b Python/3.8.10
        (Linux-5.15.0-1023-azure-x86_64-with-glibc2.29)
=======
      - AZURECLI/2.42.0 (DOCKER) azsdk-python-azure-mgmt-containerservice/20.4.0b
        Python/3.10.8 (Linux-5.10.102.1-microsoft-standard-WSL2-x86_64-with)
>>>>>>> b5e97de17 (adding enable-mount-replica to aks cli)
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-00[...]
